<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GROUP.api.dao.HelloMapper">
    <sql id="allColumns">
        *
    </sql>

    <select id="select" resultType="GROUP.api.entity.Hello">
        SELECT
        <include refid="allColumns"/>
        FROM kpi
    </select>


</mapper>
